torch
transformers
numpy
tqdm
matplotlib
seaborn
pandas
yake
spacy # Run "python -m spacy download en_core_web_sm" after installing spacy
rouge-score
bert-score
sentence-transformers
scikit-learn
pytest
black
flake8
mypy
datasets
